[submodule "projects/algos"]
	path = projects/algos
	url = https://github.com/ItMeansBigMountain/algos.git
	branch = main
[submodule "projects/cox-elementary-pta"]
	path = projects/cox-elementary-pta
	url = https://github.com/ItMeansBigMountain/cox-elementary-pta.git
	branch = main
[submodule "projects/osrs-plugins/AccountLegacyCard"]
	path = projects/osrs-plugins/AccountLegacyCard
	url = ./projects/osrs-plugins/AccountLegacyCard
[submodule "projects/osrs-plugins/BossKCRivalLookup"]
	path = projects/osrs-plugins/BossKCRivalLookup
	url = ./projects/osrs-plugins/BossKCRivalLookup
[submodule "projects/osrs-plugins/SkillNemesis"]
	path = projects/osrs-plugins/SkillNemesis
	url = ./projects/osrs-plugins/SkillNemesis
[submodule "projects/osrs-plugins/RivalRadar"]
	path = projects/osrs-plugins/RivalRadar
	url = ./projects/osrs-plugins/RivalRadar
[submodule "projects/osrs-plugins/SmartHiscoreLookup"]
	path = projects/osrs-plugins/SmartHiscoreLookup
	url = ./projects/osrs-plugins/SmartHiscoreLookup
[submodule "projects/osrs-plugins/SkillRaceCreator"]
	path = projects/osrs-plugins/SkillRaceCreator
	url = ./projects/osrs-plugins/SkillRaceCreator
[submodule "projects/osrs-plugins/AchievementGapFinder"]
	path = projects/osrs-plugins/AchievementGapFinder
	url = ./projects/osrs-plugins/AchievementGapFinder
[submodule "projects/osrs-plugins/FriendProgressFeed"]
	path = projects/osrs-plugins/FriendProgressFeed
	url = ./projects/osrs-plugins/FriendProgressFeed
[submodule "projects/osrs-plugins/BossRaceCreator"]
	path = projects/osrs-plugins/BossRaceCreator
	url = ./projects/osrs-plugins/BossRaceCreator
[submodule "projects/osrs-plugins/BossReadinessScore"]
	path = projects/osrs-plugins/BossReadinessScore
	url = ./projects/osrs-plugins/BossReadinessScore
[submodule "projects/osrs-plugins/BossStreaks"]
	path = projects/osrs-plugins/BossStreaks
	url = ./projects/osrs-plugins/BossStreaks
[submodule "projects/osrs-plugins/PersonalProgressTimeline"]
	path = projects/osrs-plugins/PersonalProgressTimeline
	url = ./projects/osrs-plugins/PersonalProgressTimeline
[submodule "projects/osrs-plugins/ClanGrindHeatmap"]
	path = projects/osrs-plugins/ClanGrindHeatmap
	url = ./projects/osrs-plugins/ClanGrindHeatmap
[submodule "projects/osrs-plugins/SkillStreaks"]
	path = projects/osrs-plugins/SkillStreaks
	url = ./projects/osrs-plugins/SkillStreaks
[submodule "projects/osrs-plugins/WhosGrindingClanPanel"]
	path = projects/osrs-plugins/WhosGrindingClanPanel
	url = ./projects/osrs-plugins/WhosGrindingClanPanel
[submodule "projects/osrs-plugins/IceBarrageTimer"]
	path = projects/osrs-plugins/IceBarrageTimer
	url = ./projects/osrs-plugins/IceBarrageTimer
[submodule "projects/osrs-plugins/NameChangeWatcher"]
	path = projects/osrs-plugins/NameChangeWatcher
	url = ./projects/osrs-plugins/NameChangeWatcher
[submodule "projects/osrs-plugins/osrs-plugins-boilerplate"]
	path = projects/osrs-plugins/osrs-plugins-boilerplate
	url = ./projects/osrs-plugins/osrs-plugins-boilerplate
[submodule "projects/osrs-plugins/CompetitionOverlay"]
	path = projects/osrs-plugins/CompetitionOverlay
	url = ./projects/osrs-plugins/CompetitionOverlay
[submodule "projects/osrs-plugins/GroupIronProgressBoard"]
	path = projects/osrs-plugins/GroupIronProgressBoard
	url = ./projects/osrs-plugins/GroupIronProgressBoard
[submodule "projects/osrs-plugins/NearbyPlayerSnapshot"]
	path = projects/osrs-plugins/NearbyPlayerSnapshot
	url = ./projects/osrs-plugins/NearbyPlayerSnapshot
